@import url('variables.css');

/* Notification */
.notification {
    position: fixed;
    top: var(--spacing-lg);
    right: var(--spacing-lg);
    padding: var(--spacing-md) var(--spacing-xl);
    background-color: var(--accent);
    color: white;
    border-radius: var(--border-radius-sm);
    box-shadow: var(--shadow-md);
    transform: translateX(150%);
    transition: transform var(--transition-normal);
    z-index: var(--z-tooltip);
}

.notification--show {
    transform: translateX(0);
}